.about-section-warpper {
    background: rgb(32, 33, 32);
    margin-top: 93.24px;
    padding: 1.4rem 0rem;
    background-image: url('../assets/black-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
    align-items: center;
    overflow: hidden;
    /* column-gap: 1rem; */
    padding: 0rem 2rem;
    /* border: 2px solid green; */

}

.about-left-content {
    padding: 0 1.1rem;
    padding-bottom: 1rem;
    /* border: 2px solid red; */
}

.about-left-content h1 {
    font-size: 2.5rem;
}

.about-left-content p {
    font-size: 18px;
    letter-spacing: 0.01rem;
    margin-top: 1.9rem;
    text-align: justify;
}

.btn-box button {
    font-size: 1.2rem;
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 5px;
}

.btn-box .first-btn {
    background: #076cef;
    /* padding: 0.9rem 0.9rem; */
}

.btn-box .second-btn {
    background: transparent;
    box-shadow: inset 0 0 0 0.2rem #076cef;
    /* padding: 0.9rem 0.9rem; */
}

.btn-box button:hover {
    box-shadow: inset 0 0 0 0.1rem white;
    scale: 1.1;
}

.about-right-content {
    padding: 0 1rem;
    /* border: 2px solid rgb(63, 157, 45); */
}

.swiper-container .mySwiper {
    border: 2px soli green;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
    padding: 1rem 6rem;
    /* border: 2px solid blueviolet; */
}

.swiper-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.swiper-card a img {
    width: 100%;
    object-fit: cover;
}

.swiper-card h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.swiper-card p {
    font-size: 18px;
    /* margin-top: 0.5rem; */
}

.mySwiper {
    color: aliceblue;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}


.swiper-pagination-bullet {
    background: red;
    /* Default dot color */
}

.swiper-pagination-bullet-active {
    background: blue;
    /* Active dot color */
}





.left-move-text-cont {
    /* width: 100%; */
    padding: 1rem 0.7rem;
    /* border: 2PX solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #076cef;
    white-space: none;
    overflow-x: hidden;
}

.left-move-text-cont .text-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 1.5vw;
    /* background: red; */
    transform: translateX(-100%);
}

.left-move-text-cont .text-container .arrow-left {
    font-size: 4rem;
    text-align: center;
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
    /* margin-top: 1rem; */
    /* border: 2px solid red; */
    color: yellow;
}

.left-move-text-cont .text-container h1 {
    font-size: 3rem;
    /* border: 2px solid green; */

}

.left-move-text-cont .text-keyFrame {
    animation: rightToLeft 9s linear infinite;
    transition: 1s all;
}

@keyframes rightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-110%);
    }
}



@media screen and (max-width:720px) {

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        row-gap: 1rem;
        /* align-items: center; */
        padding: 0rem 0rem;
        /* border: 2px solid green; */

    }

    .about-left-content {
        padding: 0 1rem;
        padding-bottom: 1rem;
        /* border: 2px solid red; */
    }

    .about-left-content p {
        font-size: 18px;
        letter-spacing: 0.01rem;
        margin-top: 1rem;
        text-align: justify;
    }

    .about-right-content img {
        width: 100%;
        object-fit: cover;
        /* border: 2px solid yellow; */
    }

    .swiper-container {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        align-items: center;
        min-height: 60vh;
        width: 100%;
        padding: 0.5rem 1rem;
        /* border: 2px solid blueviolet; */
    }

    .left-move-text-cont h1 {
        font-size: 3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        text-wrap: nowrap;
    }

    .left-move-text-cont h1 span {
        font-size: 2rem;
    }

}