.service-section-wrapper{
    background: rgb(32, 33, 32);
    /* background: transparent; */
    margin-top: 93.24px;
    padding: 1.5rem 1rem;
    background-image: url('../assets/black-1.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.card-container{
    display: flex;
    justify-content: center;
    /* background: yellow; */
    text-align: center;
}
.card-container .card{
    width:  20rem;
    height: 24rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #edf2f7;
}
.card .card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-details .price-provider{
    display: flex;
    justify-content: space-between;
}
.card-details .price-provider p{
    font-size: 18px;
    margin-top: 0.6rem;
}
.card-details h2{
    font-size: 1.7rem;
    margin-top: 0.6rem;
}
.card-details p{
    font-size: 1.2rem;
    margin-top: 0.6rem;
}
.service-container h1{
    font-size: 18px;
    text-align: center;
}
.service-section-wrapper .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem 3rem;
    gap: 1rem;
}

@media (max-width:980px) {
    .service-section-wrapper .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem 3rem;
        gap: 1rem;
    }
}



@media (max-width:720px) {
    .service-section-wrapper{
        padding: 1rem 0.3rem;
    }
    .service-section-wrapper .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem 0rem;
        gap: 1rem;
    }
}
@media (max-width:500px) {
    .service-section-wrapper .card-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem 0rem;
        gap: 1rem;
    }
}
.card-container h1{
    color: red;
    margin-top: 1rem;
    text-align: center;
    
}