footer {
    /* height: 200px; */
    /* background: linear-gradient(to right, #37266f, #1a0700); */
    background: #000;
    color: #fff;
    padding: 1rem 2rem;
    border-top-left-radius: 50px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    /* border: 2px solid red; */
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    text-align: justify;
}

/* .col:nth-child(2), .col:nth-child(3){
    flex-basis: 25%;
} */
.col img {
    margin-bottom: 1.2rem;
    border-radius: 50%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    /* text-align: center; */
}

.col p {
    margin-bottom: 0.6rem;
    line-height: 1.5rem;
}

.col .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col .email-icon {
    font-size: 2.2rem;
    color: burlywood;
    margin-top: 1.5rem;
}


ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.social-icons a {
    position: relative;
}

.social-icons .icon {
    line-height: 2.2rem;
    font-size: 2rem;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.9rem;
    cursor: pointer;
}

.social-icons .github {
    color: black;
}

.social-icons .github-a:hover::after {
    content: "GitHub Profile";
    position: absolute;
    top: 3rem;
    left: 0;
    padding: 0.5rem 0.9rem;
    background: #076cef;
    color: white;
    border-radius: 5px;
    z-index: 99;

}

.social-icons .linkeden {
    color: rgb(0, 110, 255);
}

.social-icons .linkeden-a:hover::after {
    content: "Linkeden Profile";
    position: absolute;
    top: 3rem;
    left: 0;
    padding: 0.5rem 0.9rem;
    background: #076cef;
    color: white;
    border-radius: 5px;
    z-index: 99;

}

.social-icons .instagram {
    color: orangered;
}

.social-icons .instagram-a:hover::after {
    content: "Insta Profile";
    position: absolute;
    top: 3rem;
    left: 0;
    padding: 0.5rem 0.9rem;
    background: #076cef;
    color: white;
    border-radius: 5px;
    z-index: 99;

}

.social-icons .facebook {
    color: rgb(0, 110, 255);
}

.social-icons .facebook-a:hover::after {
    content: "Facebook Profile";
    position: absolute;
    top: 3rem;
    left: 0;
    padding: 0.5rem 0.9rem;
    background: #076cef;
    color: white;
    border-radius: 5px;
    z-index: 99;

}

.social-icons .whatsapp {
    color: rgb(8, 172, 10);
}

.social-icons .whatsapp-a:hover::after {
    content: "WhatsApp";
    position: absolute;
    top: 3rem;
    left: -2rem;
    padding: 0.5rem 0.9rem;
    background: #076cef;
    color: white;
    border-radius: 5px;
    z-index: 99;

}


hr {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copy-right {
    text-align: center;
    line-height: 1.7rem;
}

.underline {
    width: 100%;
    height: 5px;
    background-color: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 40px;
    height: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(255, 136, 0), #076cef);
    position: absolute;
    top: 0;
    left: 5px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width:720px) {
    footer {
        bottom: unset;
        padding: 1rem 1rem;
    }
    footer .copy-right{
      font-size: 1.2rem;
    }

    .col {
        flex-basis: 100%;
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

}