.forgot-password-wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    /* margin-top: 50px; */
    background-color: #f1f5f9;
    padding: 10px;
}

.forgot-password-wrapper-container .forgot-main-container {
    background-color: #fff;
    padding: 20px 40px;
    margin-top: 80px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

.form-1 {
    margin-bottom: 30px;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 20px;
}

.generate-otp-email-input-div {
    margin-bottom: 15px;
}

.forgot-password-input-label {
    display: block;
    margin-bottom: 6px;
    color: #64748b;
    font-weight: 600;
}

.forgot-password-input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    outline: none;
}

.forgot-password-otp-input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
}

.reset-password-form-2-email-div {
    background-color: #f8fafc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.reset-password-form-2-email-label {
    font-size: 13px;
    color: #94a3b8;
}

.reset-password-form-2-email-text {
    color: #334155;
    font-weight: bold;
}

.reset-password-form-2-submit-btn{
    width: 100%;
    padding: 12px;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}